<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TokoMusi - List Product</title>

        <!-- Panggil Css -->
        <link rel="stylesheet" href="./css/style.css">

        <!-- Panggil Bootstrap -->
        <link rel="stylesheet" href="./css/bootstrap.css">

        <!-- Panggil Icon -->
        <script src="https://kit.fontawesome.com/3d647cac5e.js"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Awal Navbar -->
        <section id="Header-TokoMusi">
            <div class="bg-header">
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <h1>Toko<span>Musi</span></h1>
                        </div>
                        <div class="col-lg-4">
                            <form class="form-inline">
                                <input class="form-control col mt-1 pencarian"
                                    type="search" placeholder="Belanjo apo hari ini....." aria-label="Search">
                            </form>
                        </div>
                        <div class="col-lg-1 text-center">
                            <i class="fas fa-cart-plus"></i>
                        </div>
                        <div class="col-lg-1 text-center">
                            <i class="far fa-bell"></i>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-warning">Login</button>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-outline-warning">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Akhir Navbar -->

        <!-- Awal Label -->
        <section id="Label">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <i class="fa fa-home"></i>
                                <li class="breadcrumb-item"><a href="#">LandingPage</a></li>
                                <li class="breadcrumb-item"><a href="#">Category</a></li>
                                <li class="breadcrumb-item active label"
                                    aria-current="page">ListProduct</li>
                            </ol>
                        </nav>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
        <!-- Akhir Label -->

        <!-- Premium Product -->
        <section id="Premium-Product">
            <div class="container">
                <div class="row mt-3">
                    <div class="col premium">
                        <h1>Premium <span class="product">Products</span></h1>
                        <h2>for <span>Every Need</span></h2>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo3 2.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo2 3.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo1 7.png" alt="Promo1">
                                    <h3>Sepatu Tsubasa</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>1.950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo3 2.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row mt-4">
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo3 2.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo2 3.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo1 7.png" alt="Promo1">
                                    <h3>Sepatu Tsubasa</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>1.950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo3 2.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <!-- Row 3 -->
                <div class="row mt-4">
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo3 2.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo2 3.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo1 7.png" alt="Promo1">
                                    <h3>Sepatu Tsubasa</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>1.950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-isi">
                            <div class="row text-center">
                                <div class="col">
                                    <img src="./assets/promo3 2.png" alt="Promo1">
                                    <h3>Camera Canon DSLR</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-lg-6 mt-lg-2">
                                        <h6>IDR <span>950.000</span></h6>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="btn btn-warning">Lihat Details</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Akhir Premium Product -->

        <!-- Awal Footer -->
        <section id="Footer">
            <div class="container">
                <div class="bg-footer mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 mt-4">
                                <h1>Toko<span>Musi</span></h1>
                                <p>Sebagai pusat fashion online di Palembang,
                                    Kami menciptakan gaya tanpa batas, dengan
                                    cara memperluas
                                    jangkauan produk,mulai dari produk
                                    internasional, hingga produk lokal dambaan</p>
                            </div>
                            <div class="col-lg-3 mt-5">
                                <ul>
                                    <h4>Layanan</h4>
                                    <li>Cara Pembelian</li>
                                    <li>Barang Terlaris</li>
                                    <li>Promo hari ini</li>
                                    <li>Status Order</li>
                                </ul>
                            </div>
                            <div class="col-lg-3 mt-5">
                                <ul>
                                    <h4>Tentang Kami</h4>
                                    <li>Abaout Us</li>
                                    <li>Persyaratan dan Ketentuan</li>
                                    <li>Kebijakan Privasi</li>
                                </ul>
                            </div>
                            <div class="col-lg-3 mt-5">
                                <h4>Kantor Pusat</h4>
                                <p>Jl. Rajawali No. 11 Ilir Timur 11440
                                    Indonesia</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-9 copyright mb-4">
                                <h5><i class="far fa-copyright"> 2021 TokoMusi.
                                        <span>All Right Reserved</span></h5></i>
                            </div>
                            <div class="col-lg-1">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <div class="col-lg-1">
                                <i class="fab fa-facebook-square"></i>
                            </div>
                            <div class="col-lg-1">
                                <i class="fab fa-twitter-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Akhir Footer -->

        <script src="./js/jquery.slim.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
    </body>
</html>